@inherits LayoutComponentBase

<PageTitle>ACasota</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
         <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <a>Bem-vindo/a @context.User.Identity.Name</a>
                    <a class="btn btn-pill btn-outline-danger" href="Identity/Account/Logout">Logout</a>
                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="top-row">
                    <a class="btn btn-pill btn-outline-primary" href="Identity/Account/Login">Login</a>
                    <a class="btn btn-pill btn-outline-secondary" href="Identity/Account/Register">Registo</a>
                    
                </div>
            </NotAuthorized>
        </AuthorizeView>
            

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
