@using ACasotaBlazorServer.Data;
@using Microsoft.AspNetCore.Identity;
@inherits LayoutComponentBase
@inject UserManager<ApplicationUser> _userManager

<PageTitle>ACasota</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>
            <main>
                <div class="top-row px-4">
                    <a>Bem-vindo/a @user_auth.FirstName @user_auth.LastName</a>
                    <a class="btn btn-pill btn-outline-danger" href="Identity/Account/Logout">Logout</a>
                </div>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <NavMenu />
    </NotAuthorized>
</AuthorizeView>

@code{
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }
    public ApplicationUser user_auth { get; set; } = new ApplicationUser();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            user_auth = await _userManager.GetUserAsync(user);
        }
    }
}
