<AuthorizeView>
	<Authorized>
        <div class="top-row-blazor ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand-blazor" href="">ACasota</a>
                <button title="Navigation menu" class="navbar-toggler-blazor" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item-blazor px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Página Inicial
                    </NavLink>
                </div>
                <div class="nav-item-blazor px-3">
                    <NavLink class="nav-link" href="Profile">
                        <span class="oi oi-person" aria-hidden="true"></span> Perfil
                    </NavLink>
                </div>
            </nav>
        </div>
	</Authorized>
	<NotAuthorized>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top"><img src="assets/img/ACasotaLogo.png" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#atividades">Atividades</a></li>
                        <li class="nav-item"><a class="nav-link" href="#animal">Animais</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Sign In</a></li>
                        <li class="nav-item"><a class="nav-link" href="">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	</NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="Admin">
	<Authorized>
		<div class="top-row-blazor ps-3 navbar navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand-blazor" href="">ACasota</a>
				<button title="Navigation menu" class="navbar-toggler-blazor" @onclick="ToggleNavMenu">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
		<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
			<nav class="flex-column">
				<div class="nav-item-blazor px-3">
					<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
						<span class="oi oi-home" aria-hidden="true"></span> Página Inicial
					</NavLink>
				</div>
				<div class="nav-item-blazor px-3">
					<NavLink class="nav-link" href="Profile">
						<span class="oi oi-person" aria-hidden="true"></span> Perfil
					</NavLink>
				</div>
			</nav>
		</div>
		<div class="nav-item-blazor px-3">
			<NavLink class="nav-link" href="Usermanagement">
				<span class="oi oi-people" aria-hidden="true"></span> Gestão de utilizadores
			</NavLink>
		</div>
	</Authorized>
</AuthorizeView>


@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse-blazor" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
