@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace ACasotaBlazorServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <base href="~/" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />

    <!-- Homepage CSS Stylesheet -->
    <link href="../../css/homepage/styles.css" rel="stylesheet" />

    <link href="css/site.css" rel="stylesheet" />
    <link href="ACasotaBlazorServer.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body id="page-top">
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <!-- Homepage JS -->
    <script src="../../assets/js/homepage.js"></script>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
