@page "/Usermanagement"
@using System.Collections
@using ACasotaBlazorServer.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<DataContext> contextDb
@attribute [Authorize]

<PageTitle>Gestão de Utilizadores</PageTitle>
<AuthorizeView Roles ="Admin">
	<Authorized>
		<h1>Lista de utilizadores</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Primeiro Nome</th>
					<th>Ultimo Nome</th>
					<th>Email</th>
					<th>Data de Nascimento</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var userDb in users)
				{
						<tr>
							<td>@userDb.FirstName</td>
							<td>@userDb.LastName</td>
							<td>@userDb.Email</td>
							<td>@userDb.Date_Birth.Date</td>
							<td>
								<a class="btn btn-pill btn-outline-danger" href="Identity/Account/Login">Bloquear</a>
								<a class="btn btn-pill btn-outline-primary" href="Identity/Account/Register">Editar</a>
							</td>
						</tr>
				}
			</tbody>
		</table>
	</Authorized>
	<NotAuthorized>
		<p role="status">Não tem autorização para aceder a esta página</p>
	</NotAuthorized>
</AuthorizeView>

@code {
	[CascadingParameter]
	public Task<AuthenticationState> AuthenticationStateTask { get; set; }
	public List<ApplicationUser> users { get; set; } = new List<ApplicationUser>();

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateTask;
		var user = authState.User;

		if (user.Identity.IsAuthenticated)
		{
			using (var ctx = contextDb.CreateDbContext())
			{
				var usersCT = await ctx.Users.ToArrayAsync();

				foreach (var userct in usersCT)
				{
					users.Add(userct);
				}
			}
		}
	}
}
